.app-spinner-wrapper {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-spinner {
    width: 4rem;
    height: 4rem;
}

section {
    min-height: 100vh;
    padding: 2rem 0;
    background: url("https://besthqwallpapers.com/Uploads/2-5-2020/130881/thumb2-metal-texture-metallic-silver-background-aluminum-texture-steel-texture-gray-metal-texutra.jpg") center/cover no-repeat;
}